@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

:root {
  --white: #fdfff7;
  --black: #000000;
  --red: #b84a62; /* (184, 74, 98) */
  --green: #20a39e; /* (32, 163, 158) */
  --yellow: #e3b23c; /* (227, 178, 60) */
  --blue: #3e72e2; /* (18, 73, 146) */

  --normal-font-size: 16px;
}

.darkMode {
  --white: #000000;
  --black: #fdfff7;
  border-color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  max-width: 100%;
}

#root {
  height: 100%;
}

html,
body {
  height: 100%;
  background-color: var(--white);
  scroll-behavior: smooth;
}

.opening {
  background-color: var(--white);
  border-bottom: 1px solid var(--black);
  text-align: center;
  height: 100%;
}

nav {
  background: var(--white);
  border-bottom: solid 1px var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: top 0.5s;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.navBarLogo {
  margin-left: 20px;
  max-height: 60px;
  height: 30px;
}

.navBarLinks {
  font-size: 22px;
}

.navBarLinks a {
  position: relative;
  text-decoration: none;
  color: var(--black);
  margin-left: 15px;
  margin-right: 15px;
}

.navBarLinks a:hover {
  text-decoration: underline;
}

.navBarScrolled {
  transform: translateY(-100%);
  transition: 0.5s;
}

.navBarBlackBG {
  background-color: var(--white);
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}

.opening {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.opening h1 {
  color: var(--black);
  font-size: 40px;
  max-width: 780px;
}

.openinglink {
  margin-top: 20px;
  color: var(--black);
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;

  width: max-content;
  position: relative;
  overflow-y: hidden;
}

.openinglink:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 4px;
  width: 0;
  background-color: var(--black);

  border-radius: 50px;
  transition: width 0.3s ease;
}

.openinglink:hover:before {
  width: 100%;
}

.siteSection {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
  align-items: center;
}

.siteSection h1 {
  font-size: 40px;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  margin: 40px;
}

.siteSection .card {
  padding-left: 15vw;
  padding-right: 15vw;

  display: flex;
  flex-direction: wrap;
  align-items: center;
  margin-bottom: 60px;

  max-width: 780px;
}

.siteSection img {
  max-height: 30%;
  max-width: 30%;
  object-fit: cover;
  flex-shrink: 0;
}

.siteSection .text {
  margin-left: 10px;
  margin-right: 10px;
}

.siteSection .text h2 {
  font-size: 30px;
  font-weight: 400;
}

.siteSection .text p {
  font-size: 20px;
  font-weight: 300;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  text-align: center;
  color: var(--black);
  padding-bottom: 60px;
}

.borderBottom {
  border-bottom: 1px solid var(--black);
}

.darkMode {
  border: none;
}

::placeholder {
  color: #5e5e5e;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dadada;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dadada;
}

.contact h1 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
  padding-top: 60px;
}

.textinput {
  font-size: 20px;
  border: solid 1px var(--black);
  background-color: var(--white);
  margin: 10px;
  width: 240px;
  height: 22px;
  color: var(--black);
  padding: 5px;
}

.textinput:focus {
  outline: 0;
}

.contact textarea {
  font-size: 20px;
  border: solid 1px var(--black);
  background-color: var(--white);
  margin: 10px;
  width: 510px;
  height: 168px;
  resize: none;
  color: var(--black);
  padding: 5px;
}

.contact textarea:focus {
  outline: 0;
}

.contactSubmitButton {
  font-size: 20px;
  border: solid 1px var(--black);
  background-color: var(--white);
  margin: 10px;
  width: 200px;
  height: 46px;
  color: var(--black);
  transition: ease-in-out 0.09s;
}

.contactSubmitButton:hover {
  cursor: pointer;
  width: 180px;
}

footer {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footerLogo {
  width: 100%;
}

.footerLink {
  color: var(--black);
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

.followText {
  font-size: 20px;
}

.socials {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.socials i {
  color: var(--black);
}

footer div {
  padding-left: 10px;
  padding-right: 10px;
}

#nameInput:focus {
  border: 1px solid var(--red);
}

#emailInput:focus {
  border: 1px solid var(--yellow);
}

#messageInput:focus {
  border: 1px solid var(--green);
}

.link {
  color: var(--black);
  text-decoration: underline;
}

.link:hover {
  color: var(--red);
}

.infoHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
  max-width: 780px;
  align-items: center;
  margin: auto;
}

.infoCard {
  background: transparent;
  padding: 15px;
  text-align: center;
  width: 200px;
  vertical-align: middle;
  margin: auto;
  border: 1px solid transparent;
  margin-bottom: 5px;
}

.infoCard:hover {
  cursor: pointer;
}

.infoCardShadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#softwareSolutions {
  padding-bottom: 40px;
}

.backToTopBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;

  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);

  transition: ease-in 0.15s;
}

.backToTopBtn:hover {
  transform: scale(1.1);
}

#link1:hover {
  color: var(--red);
}

#link2:hover {
  color: var(--green);
}

#link3:hover {
  color: var(--yellow);
}

#link4:hover {
  color: var(--blue);
}

.FCBcontainer {
  width: 140px;
  height: 60px;
  margin-right: 20px;
}

.FCBcenter {
  width: 140px;
  height: 60px;
  position: absolute;
}

.FCBbtn {
  width: 140px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--black);
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: var(--white);
  stroke-dasharray: 120 480;
  stroke-dashoffset: 120;
  transition: 1s ease-in-out;
}

.FCBbtn:hover {
  transition: 1s ease-in-out;
  background: var(--white);
}

.FCBbtn:hover svg {
  stroke-dashoffset: -480;
}

.FCBbtn span {
  color: var(--black);
  font-size: 20px;
}

.dropDownBtn {
  margin-right: 20px;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  border: 0px solid var(--black);
  width: 40px;
  height: 40px;
  transition: 0.3s;
  align-items: center;
  overflow-y: hidden;
}

#dropDownIcon {
  font-size: 30px;
}

.none {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

.bigLink {
  font-size: 30px;
}

.dropDownContent {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 100%;
  background-color: var(--white);

  display: flex;
  flex-direction: column;

  z-index: 50;
  transition: all 0.5s ease-in-out;

  border-bottom: 2px solid var(--black);
  padding: 20px;

  align-items: center;
}

.dropDownContent > * {
  z-index: 70;
}

.showContent {
  display: block;
}

.bigLink {
  text-decoration: none;
  color: var(--black);
}

.moreInformationHolder {
  max-width: 680px;
  max-width: 730px;
  padding: 10px;
  margin: auto;
  border: 1px solid var(--black);
  transition: 0.2s ease-in-out;
}

.moreInformationHolder:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

#softwareSolutions {
  padding-bottom: 50px;
}

.wwa {
  margin: auto;
}
.wwa .text {
  max-width: 780px;
}

.wwacontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.moreInformationHolder p {
  font-size: 20px;
  font-weight: 300;
}

.selected1:hover {
  box-shadow: 0px 0px 5px rgba(184, 74, 98, 0.5);
  border: 1px solid var(--red);
}
.selected2:hover {
  box-shadow: 0px 0px 5px rgba(32, 163, 158, 0.5);
  border: 1px solid var(--green);
}
.selected3:hover {
  box-shadow: 0px 0px 5px rgba(227, 178, 60, 0.5);
  border: 1px solid var(--yellow);
}
.selected4:hover {
  box-shadow: 0px 0px 5px rgba(18, 73, 146, 0.5);
  border: 1px solid var(--blue);
}

.selected {
  border: 1px solid var(--black);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 27%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--black);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  transition: 0.3s;
  user-select: none;
}

.previous {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.careers {
  width: 100%;
  height: 60%;
}

.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.slide {
  transition: 2s ease;
}

.slideshow {
  width: 100%;
  height: 55%;
}

.ourteam h1 {
  margin-bottom: 20px;
}

.teamCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  align-items: center;
  margin: auto;
  align-items: center;
}

.teamCard {
  text-align: center;
  min-width: 300px;
  max-width: 300px;
  border: 1px solid var(--black);
  margin: 2vw;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
}

.teamCard:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.teamCard img {
  min-width: 100%;
  min-height: 100%;
  border-bottom: 1px solid var(--black);
}

.teamCard div {
  padding-bottom: 4px;
}

.partners {
  text-align: center;
  margin-bottom: 50px;
}

.serviceOpening {
  height: 100vh;
  background-color: var(--black);
}

#backgroundVideo {
  height: 100%;

  object-fit: cover;
  top: 0;
  left: 0;

  z-index: 0;
}

.openingSpacing {
  height: 100%;
  width: 100%;
  z-index: -999;
}

.serviceText {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 20px var(--black);
  position: absolute;
  top: 50%;
  margin: auto;
  color: var(--white);
  text-align: left;
  margin-left: 5vw;
}

.serviceText p {
  max-width: 560px;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.serviceText a {
  margin-top: 20px;
  color: var(--white);
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;

  width: max-content;
  position: relative;
  overflow-y: hidden;
}

.serviceText a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: var(--white);

  border-radius: 50px;
  transition: width 0.3s ease;
}

.serviceText a:hover:before {
  width: 100%;
}

.serviceHeader {
  padding-top: 50px;
}

.dark {
  background-color: var(--black);
}

.darkTitle {
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  font-size: 40px;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark a,
.dark p {
  color: var(--white);
}

.serviceProblemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.serviceProblem h2 {
  font-size: 26px;
  padding-bottom: 5px;
}

.serviceProblem p {
  font-size: 20px;
}

.serviceProblem {
  padding-left: 2vw;
  padding-right: 2vw;
  max-width: 350px;
  padding-bottom: 50px;
}

.serviceSols {
  min-width: 100%;
  flex-direction: unset;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.serviceSolution {
  width: 50%;
  height: 300px;
  background-size: 100% 100%;
  background-position: center;
  -webkit-filter: grayscale(100%);
  transition: 0.3s ease;
  transition: background-size 1s ease;
}

.serviceSolution:hover {
  -webkit-filter: grayscale(0%);
  background-size: 105% 105%;
}

.serviceSolution h2 {
  font-size: 28px;
  padding-bottom: 5px;
}

.serviceSolution p {
  font-size: 20px;
  padding-bottom: 5px;
}

.serviceSolution .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  z-index: -1;
}

.left {
  margin-right: 20vw;
}

.right {
  margin-left: 20vw;
}

.serviceSolution a {
  margin-top: 20px;
  color: var(--white);
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;

  width: max-content;
  position: relative;
  overflow-y: hidden;
}

.serviceSolution a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: var(--white);

  border-radius: 50px;
  transition: width 0.3s ease;
}

.serviceSolution a:hover:before {
  width: 100%;
}

.webapppic {
  background-image: url("../assets/services/webapp.jpg");
}

.mobileapppic {
  background-image: url("../assets/services/mobileapp.jpg");
}

.aipic {
  background-image: url("../assets/services/ai.jpg");
}

.dbmspic {
  background-image: url("../assets/services/dbms.jpg");
}

.ccpic {
  background-image: url("../assets/services/cloudcomputing.jpg");
}

.blockchainpic {
  background-image: url("../assets/services/blockchain.jpg");
}

.serviceStep {
  background-image: url("../assets/markerbg.png");
  background-size: 100% 100%;
  width: 700px;
  height: 200px;
  margin-bottom: 50px;
}

.topSpace {
  padding-top: 100px;
  padding-bottom: 50px;
}

.serviceStep h1 {
  margin: unset;
  position: absolute;
  font-size: 50px;
}

.serviceStep h2 {
  padding-bottom: 10px;
}

.serviceStep .content {
  margin-top: 25px;
  margin-left: 90px;
  margin-right: 60px;
}

.serviceStep .content p {
  font-size: 20px;
}

.darkText {
  color: var(--black);
}

@media (max-width: 960px) {
  .siteSection .card {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .card img {
    max-width: 40%;
  }
}

@media (max-width: 723px) {
  .dropDownBtn {
    display: block;
    font-size: 20px;
  }

  .navBarLinks {
    display: none;
  }

  .navBarLinks > * {
    display: none;
  }

  .contactBtnLink > * {
    display: none;
  }

  .contactBtnLink {
    display: none;
  }

  .FCBcontainer {
    margin: auto;
  }

  .dropDownContent > * {
    padding-bottom: 30px;
  }

  .siteSection .card {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .openinglink {
    font-size: 18px;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .infoCard {
    margin: 0;
  }

  .infoHolder {
    justify-content: center;
  }

  .moreInformationHolder {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .card {
    flex-direction: column-reverse;
  }

  .card2 {
    flex-direction: column;
  }

  .card img {
    padding-top: 30px;
    max-width: 60%;
  }
}

.blogPage {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.tagContainer {
  display: flex;
  justify-content: center;
  place-items: center;
  margin-top: 80px;
  height: 20%;
}

.tags {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 40vw;
  flex-wrap: wrap;
}

.tagItemContainer {
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  border: 1px var(--red) solid;
  background-color: rgba(184, 74, 98, 0.5);
  border-radius: 1vh;
  margin: 1vh;
  padding: 1vh;
  width: fit-content;
  height: 3vh;
  transition: all 350ms ease;
}

.tagItemContainer h1 {
  font-size: 1.5vh;
}

.tagItemContainer:hover {
  scale: 1.1;
  cursor: pointer;
}

.tagCountBox {
  border: 1px var(--black) solid;
  background-color: var(--white);
  margin-left: 1vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  border-radius: 1vh;
  box-sizing: content-box;
}

.postContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.postItemContainer {
  border: 1px #00100b solid;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  margin: 1rem;
  padding: 1rem;
  transition: all 350ms ease;
}

.postItemContainer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  aspect-ratio: 1/1;
}

.postItemContainer:hover {
  cursor: pointer;
  scale: 1.05;
}

.blogPosts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
}

.postTags {
  font-size: 0.75rem;
}

.slide p {
  font-size: 18px;
}

.jobCard {
  border: 1px solid #000000;
  background: transparent;
  padding: 10px;
  width: 780px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
}

.vacancies {
  padding-bottom: 50px;
}

.jobCard div {
  margin-top: auto;
  margin-bottom: auto;
}

.jobCard .mainInfo {
  display: inline-flex;
  flex-direction: row;
}

.jobCard h2 {
  padding-right: 10px;
  flex-shrink: 0;
  font-weight: 500;
}

.locationContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 20px;
  width: 100%;
}

.locationContainer img {
  padding-right: 5px;
  max-width: 20px;
  max-height: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.locationContainer p {
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

.jobCard a {
  border: 1px solid var(--black);
  padding: 10px;
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
  color: var(--black);
}

.jobCard a:hover {
  background-color: #efefef;
}

.descriptionPage {
  border-bottom: 1px solid var(--black);
  margin-top: 81px;
}

.descriptionPage h1 {
  text-align: center;
}

.descriptionPage h2 {
  padding-top: 30px;
}

.descriptionPage ul {
  padding-left: 20px;
}

.descriptionText li {
  font-size: 20px;
}

.descriptionText p {
  font-size: 20px;
}

.descriptionText {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20vw;
  padding-left: 20vw;
}

.applySection {
  padding-top: 30px;
}

.applySection button {
  border: 1px solid var(--black);
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  background-color: var(--white);
  transition: 0.1s linear;
}

.applySection button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.notAllowedCursor {
  background-color: #eeeeee;
}

.notAllowedCursor:hover {
  cursor: not-allowed;
}

.appForm > * {
  font-size: 20px;
}

.appForm input,
select,
textarea {
  margin-bottom: 20px;
  color: var(--black);
  border: 1px solid var(--black);
  background-color: rgba(0, 0, 0, 0.02);
}

.appForm textarea {
  resize: none;
}

.appForm label {
  padding-bottom: 2px;
  font-weight: 500;
}

#appsubmit {
  margin-bottom: 50px;
  width: 150px;
  height: 50px;
}

#appsubmit:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.appForm {
  display: flex;
  flex-direction: column;
  padding-right: 20vw;
  padding-left: 20vw;
}

.terms {
  padding-right: 20vw;
  padding-left: 20vw;
  padding-bottom: 50px;
  font-size: 20px;
}

.terms h3 {
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  /* Apply styles for screens with a maximum width of 768px (adjust this value as needed) */
  .blogPosts {
    grid-template-columns: 1fr; /* Display one item per row */
    width: 100%;
  }
}
