@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

:root {
  --white: #fdfff7;
  --black: #000000;
  --red: #b84a62; /* (184, 74, 98) */
  --green: #20a39e; /* (32, 163, 158) */
  --yellow: #e3b23c; /* (227, 178, 60) */
  --blue: #3e72e2; /* (18, 73, 146) */

  --normal-font-size: 16px;
}

.darkMode {
  --white: #000000;
  --black: #fdfff7;
  border-color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  max-width: 100%;
}

#root {
  height: 100%;
}

html,
body {
  height: 100%;
  background-color: var(--white);
  scroll-behavior: smooth;
}

.opening {
  background-color: var(--white);
  border-bottom: 1px solid var(--black);
  height: 30vh;
  text-align: center;
  height: 100%;
}

nav {
  background: var(--white);
  border-bottom: solid 1px var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: top 0.5s;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.navBarLogo {
  margin-left: 20px;
  max-height: 60px;
  height: 30px;
}

.navBarLinks {
  font-size: 22px;
}

.navBarLinks a {
  position: relative;
  text-decoration: none;
  color: var(--black);
  margin-left: 15px;
  margin-right: 15px;
}

.navBarLinks a:hover {
  text-decoration: underline;
}

.navBarScrolled {
  transform: translateY(-100%);
  transition: 0.5s;
}

.navBarBlackBG {
  background-color: var(--white);
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}

.opening {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.opening h1 {
  color: var(--black);
  font-size: 40px;
  max-width: 780px;
}

.openinglink {
  margin-top: 20px;
  color: var(--black);
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;

  width: max-content;
  position: relative;
  overflow-y: hidden;
}

.openinglink:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 4px;
  width: 0;
  background-color: var(--black);

  border-radius: 50px;
  transition: width 0.3s ease;
}

.openinglink:hover:before {
  width: 100%;
}

.siteSection {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
  align-items: center;
}

.siteSection h1 {
  font-size: 40px;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  margin: 40px;
}

.siteSection .card {
  padding-left: 15vw;
  padding-right: 15vw;

  display: flex;
  flex-direction: wrap;
  align-items: center;
  margin-bottom: 60px;

  max-width: 780px;
}

.siteSection img {
  max-height: 30%;
  max-width: 30%;
  object-fit: cover;
  flex-shrink: 0;
}

.siteSection .text {
  margin-left: 10px;
  margin-right: 10px;
}

.siteSection .text h2 {
  font-size: 30px;
  font-weight: 400;
}

.siteSection .text p {
  font-size: 20px;
  font-weight: 300;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  text-align: center;
  color: var(--black);
  padding-bottom: 60px;
  border-bottom: 1px solid var(--black);
}

::placeholder {
  color: #5e5e5e;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dadada;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dadada;
}

.contact h1 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
  padding-top: 60px;
}

.textinput {
  font-size: 20px;
  border: solid 1px var(--black);
  background-color: var(--white);
  margin: 10px;
  width: 240px;
  height: 22px;
  color: var(--black);
  padding: 5px;
}

.textinput:focus {
  outline: 0;
}

.contact textarea {
  font-size: 20px;
  border: solid 1px var(--black);
  background-color: var(--white);
  margin: 10px;
  width: 510px;
  height: 168px;
  resize: none;
  color: var(--black);
  padding: 5px;
}

.contact textarea:focus {
  outline: 0;
}

.contactSubmitButton {
  font-size: 20px;
  border: solid 1px var(--black);
  background-color: var(--white);
  margin: 10px;
  width: 200px;
  height: 46px;
  color: var(--black);
  transition: ease-in-out 0.09s;
}

.contactSubmitButton:hover {
  cursor: pointer;
  width: 180px;
}

footer {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footerLogo {
  width: 100%;
}

.footerLink {
  color: var(--black);
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

.followText {
  font-size: 20px;
}

.socials {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.socials i {
  color: var(--black);
}

footer div {
  padding-left: 10px;
  padding-right: 10px;
}

#nameInput:focus {
  border: 1px solid var(--red);
}

#emailInput:focus {
  border: 1px solid var(--yellow);
}

#messageInput:focus {
  border: 1px solid var(--green);
}

.link {
  color: var(--black);
  text-decoration: underline;
}

.link:hover {
  color: var(--red);
}

.infoHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
  max-width: 780px;
  align-items: center;
  margin: auto;
}

.infoCard {
  background: transparent;
  padding: 15px;
  text-align: center;
  width: 200px;
  vertical-align: middle;
  margin: auto;
  border: 1px solid transparent;
  margin-bottom: 5px;
}

.infoCard:hover {
  cursor: pointer;
}

.infoCardShadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#softwareSolutions {
  padding-bottom: 40px;
}

.backToTopBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;

  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);

  transition: ease-in 0.15s;
}

.backToTopBtn:hover {
  transform: scale(1.1);
}

#link1:hover {
  color: var(--red);
}

#link2:hover {
  color: var(--green);
}

#link3:hover {
  color: var(--yellow);
}

#link4:hover {
  color: var(--blue);
}

.FCBcontainer {
  width: 140px;
  height: 60px;
  margin-right: 20px;
}

.FCBcenter {
  width: 140px;
  height: 60px;
  position: absolute;
}

.FCBbtn {
  width: 140px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--black);
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: var(--white);
  stroke-dasharray: 120 480;
  stroke-dashoffset: 120;
  transition: 1s ease-in-out;
}

.FCBbtn:hover {
  transition: 1s ease-in-out;
  background: var(--white);
}

.FCBbtn:hover svg {
  stroke-dashoffset: -480;
}

.FCBbtn span {
  color: var(--black);
  font-size: 20px;
}

.dropDownBtn {
  margin-right: 20px;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  border: 0px solid var(--black);
  width: 40px;
  height: 40px;
  transition: 0.3s;
  align-items: center;
  overflow-y: hidden;
}

#dropDownIcon {
  font-size: 30px;
}

.none {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

.bigLink {
  font-size: 30px;
}

.dropDownContent {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 100%;
  background-color: var(--white);

  display: flex;
  flex-direction: column;

  z-index: 50;
  transition: all 0.5s ease-in-out;

  border-bottom: 2px solid var(--black);
  padding: 20px;

  align-items: center;
}

.dropDownContent > * {
  z-index: 70;
}

.showContent {
  display: block;
}

.bigLink {
  text-decoration: none;
  color: var(--black);
}

.moreInformationHolder {
  max-width: 680px;
  max-width: 730px;
  padding: 10px;
  margin: auto;
  border: 1px solid var(--black);
  transition: 0.2s ease-in-out;
}

.moreInformationHolder:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

#softwareSolutions {
  padding-bottom: 50px;
}

.wwa {
  margin: auto;
}
.wwa .text {
  max-width: 780px;
}

.wwacontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.moreInformationHolder p {
  font-size: 20px;
  font-weight: 300;
}

.selected1:hover {
  box-shadow: 0px 0px 5px rgba(184, 74, 98, 0.5);
  border: 1px solid var(--red);
}
.selected2:hover {
  box-shadow: 0px 0px 5px rgba(32, 163, 158, 0.5);
  border: 1px solid var(--green);
}
.selected3:hover {
  box-shadow: 0px 0px 5px rgba(227, 178, 60, 0.5);
  border: 1px solid var(--yellow);
}
.selected4:hover {
  box-shadow: 0px 0px 5px rgba(18, 73, 146, 0.5);
  border: 1px solid var(--blue);
}

.selected {
  border: 1px solid var(--black);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 27%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--black);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  transition: 0.3s;
  user-select: none;
}

.previous {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.slide {
  transition: 2s ease; 
}

.slideshow {
  width: 100%;
  height: 55%;
}

.ourteam h1 {
  margin-bottom: 20px;
}

.teamCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  align-items: center;
  margin: auto;
  align-items: center;
}

.teamCard {
  text-align: center;
  min-width: 300px;
  max-width: 300px;
  border: 1px solid var(--black);
  margin: 2vw;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
}

.teamCard:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.teamCard img {
  min-width: 100%;
  min-height: 100%;
  border-bottom: 1px solid var(--black);
}

.teamCard div {
  padding-bottom: 4px;
}

.partners {
  text-align: center;
}

.partners {
  margin-bottom: 50px;
}

.serviceCard {
  background-color: var(--black);
  background-image: url("../assets/webapp.png");
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
}

#backgroundVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.serviceText {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px var(--black);
  position: absolute;
  top: 50%;
  margin: auto;
  color: var(--white);
  text-align: left;
  margin-left: 5vw;
}

.serviceText p {
  max-width: 560px;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.serviceText a {
  margin-top: 20px;
  color: var(--white);
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;

  width: max-content;
  position: relative;
  overflow-y: hidden;
}

.serviceText a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: var(--white);

  border-radius: 50px;
  transition: width 0.3s ease;
}

.serviceText a:hover:before {
  width: 100%;
}

#webapp {
  background-color: #20a39e;
}

@media (max-width: 960px) {
  .siteSection .card {
    padding-left: 5vw;
    padding-right: 5vw;
  }
.card img {
    max-width: 40%;
  }


}

@media (max-width: 723px) {
  .dropDownBtn {
    display: block;
    font-size: 20px;
  }

  .navBarLinks {
    display: none;
  }

  .navBarLinks > * {
    display: none;
  }

  .contactBtnLink > * {
    display: none;
  }

  .contactBtnLink {
    display: none;
  }

  .FCBcontainer {
    margin: auto;
  }

  .dropDownContent > * {
    padding-bottom: 30px;
  }

  .siteSection .card {
    padding-left: 2vw;
    padding-right: 2vw;
  }

    .openinglink {
    font-size: 18px;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .infoCard {
    margin: 0;
  }

  .infoHolder {
    justify-content: center;
  }

  .moreInformationHolder {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .card {
    flex-direction: column-reverse;
  }

  .card2 {
    flex-direction: column;
  }
  
  .card img {
    padding-top: 30px;
    max-width: 60%;
  }
}

