@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

:root {
  --white: #fdfff7;
  --black: #000000;
  --red: #b84a62;
  --green: #20a39e;
  --yellow: #e3b23c;

  --normal-font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
}

html,
body {
  height: 100%;
  background-color: var(--black);
}

.opening {
  background-color: var(--white);
  border-bottom: 1px solid var(--black);
  margin-top: 80px;
  height: 30vh;
  text-align: center;
}

nav {
  background-color: var(--white);
  border-bottom: solid 1px var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: top 0.5s;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.navBarLogo {
  margin-left: 20px;
  width: 10%;
}

.navBarLinks {
  font-size: 22px;
}

.navBarLinks a {
  position: relative;
  text-decoration: none;
  color: var(--black);
  margin-left: 15px;
  margin-right: 15px;
}

.navBarLinks a:hover {
  text-decoration: underline;
}

.navBarButton {
  margin-right: 20px;
  height: 60px;
  width: 140px;
  font-size: 18px;

  background-color: transparent;
  border: 2px solid var(--black);
  color: var(--black);
}

.navBarButton:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.navBarScrolled {
  transform: translateY(-100%);
  transition: 0.5s;
}

.navBarBlackBG {
  transform: translateY(0%);
  transition: transform 0.2s ease;
  background-color: var(--white);
}

.opening {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.opening h1 {
  color: var(--black);
  font-size: 40px;
}

.opening a {
  margin-top: 20px;
  color: var(--black);
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;

  width: max-content;
  position: relative;
  overflow-y: hidden;
}

.opening a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 4px;
  width: 0;
  background-color: var(--black);

  border-radius: 50px;
  transition: width 0.3s ease;
}

.opening a:hover:before {
  width: 100%;
}

.howWeWork {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.howWeWork h1 {
  font-size: 40px;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  margin: 40px;
}

.howWeWork .card {
  padding-left: 15vw;
  padding-right: 15vw;

  display: flex;
  flex-direction: wrap;
  align-items: center;
  margin-bottom: 60px;
}

.howWeWork img {
  max-height: 30%;
  max-width: 30%;
  object-fit: cover;
  flex-shrink: 0;
}

.howWeWork .text {
  margin-left: 5vw;
  margin-right: 5vw;
}

.howWeWork .text h2 {
  font-size: 30px;
  font-weight: 400;
}

.howWeWork .text p {
  font-size: 20px;
  font-weight: 300;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  text-align: center;
  color: var(--black);
  padding-bottom: 60px;
}

::placeholder {
  color: #5e5e5e;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dadada;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dadada;
}

.contact h1 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
}

.textinput {
  font-size: 20px;
  border: solid 1px var(--black);
  background-color: var(--white);
  margin: 10px;
  width: 240px;
  height: 22px;
  color: var(--black);
  padding: 5px;
}

.textinput:focus {
  outline: 0;
}

.contact textarea {
  font-size: 20px;
  border: solid 1px var(--black);
  background-color: var(--white);
  margin: 10px;
  width: 510px;
  height: 168px;
  resize: none;
  color: var(--black);
  padding: 5px;
}

.contact textarea:focus {
  outline: 0;
}

.contactSubmitButton {
  font-size: 20px;
  border: solid 1px var(--black);
  background-color: var(--white);
  margin: 10px;
  width: 200px;
  height: 46px;
  color: var(--black);
  transition: ease-in-out 0.09s;
}

.contactSubmitButton:hover {
  cursor: pointer;
  width: 180px;
}

footer {
  border-top: solid 1px var(--black);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footerLogo {
  width: 100%;
}

.footerLink {
  color: var(--black);
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

.followText {
  font-size: 22px;
}

.socials {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.socials i {
  color: var(--black);
}

footer div {
  padding-left: 10px;
  padding-right: 10px;
}

#nameInput:focus {
  border: 1px solid var(--red);
}

#emailInput:focus {
  border: 1px solid var(--yellow);
}

#messageInput:focus {
  border: 1px solid var(--green);
}

